/* contentfile.css */

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
}

.gb{
  display: block;
  font-size: 4vh;
  font-weight: bold;
  color: black;
  position :absolute;
  top: 2vh;
  left: 3vh;
  font-family: 'Baloo 2', cursive;
  transition-duration: 0.5s;
}
.gb:hover{
  transform: scale(1.2);
}

.mainsub {
  height: fit-content;
  width: 75vh;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.061);
  backdrop-filter: blur(2px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
  border-radius: 20px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, .5);
 
  transition-duration: 0.5s;

}

.mainsub:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.27);
}







.subsub {
  font-size: 8vh;
  font-weight: bold;
  margin: -8vh 0vh 0vh -8vh;
  font-family: 'Baloo 2', cursive;
  text-shadow:2px 2px 20px  rgb(255, 255, 255);
  
}

.subdesc {
  margin-top: 1rem;
  font-size: 3vh;
  font-weight: bolder;
}


@media screen and (max-width: 768px) {
  .mainsub {
    flex-basis: calc(50% - 1rem);
  }
}video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}