/* Styles for the container */
.mncntnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Adjust the height to fill the viewport */
  color: aliceblue;
}
.mncntnt video{position: absolute;}

/* Styles for the button */
.mncntnt button {
  width: fit-content;
  font-size: 3.5vh;
  background: none;
  border: 0.25vh solid white;
  color: aliceblue;
  padding: 1vh 3vh;
  position: relative;
  overflow: hidden;
}

/* CSS transition for smooth animation */
.mncntnt button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9; /* Change to your desired hover color */
  transition: left 0.3s ease; /* Adjust the duration and timing function as desired */
  z-index: -1; /* Set a negative z-index to place the pseudo-element behind the text */
}

/* Apply the color slide effect on hover */
.mncntnt button:hover::before {
  left: 0;
}

/* Change the text color when hovering */
.mncntnt button:hover {
  color: black;
}

.rtmncntnt {
  margin: 3vh 0;
  font-size: 5vh;
  font-family: 'Lora', serif;
}
