/* navbar.css */

/* Set up CSS Grid for the navbar */
.navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center; /* Align items vertically in the center */
    padding: 1rem; /* Add some padding for better spacing */
  }
  
  /* Style the logo or left content */
  .left {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .left img {
    height: 2.5rem; /* Reduce the height of the image for better proportion */
  }
  
  /* Style the right content (navigation links and button) */
  .right {
    display: flex;
    gap: 14vh;
    justify-content: flex-end; /* Align items to the right */
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .a1 {
    padding: 1vh;
  }
  .a1:hover{
    transform: scale(1.2);
    transition: 0.7s;
    background-color: rgb(45, 45, 45);

  }
  
  /* Add a media query for small screens */
  @media (  min-width:401px)and( max-width: 768px) {
    
  
    .right {
      justify-content: center; /* Center the navigation links in small screens */
      gap: 1vh; /* Reduce the gap between navigation links */
      margin: 1vh;
    }
  }
  @media ( max-width: 400px) {
    .a1{display: none;}
  .navbar{ display:flex;


}

  }
  .right {
    display: flex;
    flex-wrap: wrap;
  }
  